/* CODE START */
:root {
  --header-image: url("/frog.png");

  /* colors */
  --header-color: #000000;
  --bg-color: #000000;
  --navbar-color: #f1eee4;
  --body-text: #f1eee4;
  --body-hover: #89c462;
  --navbar-text: #c22a00;
  --navbar-text-hover: #6d1800;

  /* font sizes */
  --navbar-size: 1em;
  --body-size: 1em;
  --icon-size: 1.25em;
  --h1-size: 2em;
  --h2-size: 1.5em;
}

@font-face {
  font-family: "Roboto Serif";
  src: url("fonts/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Serif";
  src: url("fonts/RobotoSerif-Italic-VariableFont_GRAD,opsz,wdth,wght.ttf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "Roboto Serif", serif;
  background-color: var(--bg-color);
  color: var(--body-text);
}

#header {
  background-color: var(--header-color);
}

#headericon {
  height: 90%;
  margin: 5px auto;
}

/* navigation section!! */
#navbar {
  background-color: var(--navbar-color);
}

/* navigation links*/
#navbar li a,
#navbar li a:visited {
  color: var(--navbar-text);
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: var(--navbar-size);
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
  color: var(--navbar-text-hover);
  transition: 0.3s;
}

#navbar li span {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: var(--navbar-size);
  color: var(--bg-color);
}

a {
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  font-size: var(--icon-size);
  color: var(--body-text);
}

a:hover {
  text-decoration: none;
  color: var(--body-hover);
  transition: 0.3s;
}

main {
  background-color: var(--bg-color);
  font-size: var(--body-size);
}

.icon {
  font-family: "Icofont";
  margin: auto 0.5em;
}
h1 {
  color: var(--body-text);
  font-family: "Space Grotesk", sans-serif;
  font-size: var(--h1-size);
}

h2 {
  color: var(--body-text);
  font-family: "Space Grotesk", sans-serif;
  font-size: var(--h2-size);
}

/*RESPONSIVE GALLERY*/
.gallery-column img {
  cursor: pointer;
  transition: 0.3s;
}

.gallery-column img:hover {
  opacity: 0.7;
}

.gallery-zoom {
  background-color: rgba(0, 0, 0, 0.9);
}

.gallery-zoom img {
  opacity: 1;
  animation-name: zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.gallery-close {
  color: var(--body-text);
  font-size: 3rem;
  font-weight: bold;
  transition: 0.3s;
}

.gallery-close:hover,
.gallery-close:focus {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: var(--navbar-color);
  font-family: "Space Grotesk", sans-serif;
  color: var(--navbar-text);
}
